<div class="row">

    <div class="col-6">

        <app-donut [label]="labels1" title="Titulo primer grafica" [data]="data1"></app-donut>

    </div>

    <div class="col-6">

        <app-donut [label]="labels2" title="Titulo Segunda Grafica" [data]="data2"></app-donut>

    </div>
    <div class="col-6">

        <app-donut [label]="labels3" title="Titulo Tercer Grafica" [data]="data3"></app-donut>
    </div>
    <div class="col-6">

        <app-donut [label]="labels4" title="Titulo Cuarta Grafica" [data]="data4"></app-donut>
    </div>
</div>